# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Data files
*.csv
*.tsv

# Environments
.env
.venv
env/
venv/

# OS files
.DS_Store
Thumbs.db

# Python-specific
*.log
*.sqlite3

# Images and outputs
*.png
*.jpg
*.jpeg
*.gif

# IDEs and editors
.vscode/
.idea/
